$red: #ED5314;
$orange: #FFB92A;
$yellow: #FEEB51;
$green: #9BCA3E;
$blue: #3ABBC9;
$gray: #E6E6E6;

body {
  background-image: url("/assets/white_leather.png");
  height: 100%
}

p{
    margin-left: 10px;
}

#title_bar {
text-align:center;
 h1{
   font-size: 40px;
 }
}

.notice{
  $noticeColor: $orange;
  background: $noticeColor;
  border-style: outset;
  border-width: 3px;
  //This will differ in firefox and chrome
  border-color: lighten($noticeColor,20%);
  padding: 10px;
}

#action_bar {
text-align:center;
}

#layout_container{
display: block;
width:100%;
height: 90%;
}

#left_spacer{
float: left;
width: 20%;
height: 100px;
}

#content{
float:left;
width: 60%;
}

#right_spacer{
float: right;
width: 20%;
height: 100px;
}

#footer{
clear:both;
text-align:center;
width:100%;
height:10%;
}


