<h1>New pobject</h1>

<%= render 'form' %>
<%if false%>
<%= form_for :pobject, @pobject, :url => pobject_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>
<%end%>

<%= link_to 'Back', pobjects_path %>
